.about {
	background-color: var(--co-white);
	padding: 160px 0 60px 0;
}

.about__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about__title {
	position: relative;
	max-width: 500px;
	font-size: 50px;
	font-weight: 700;
	color: var(--co-green);
	line-height: 157%;
}

.about__title::before {
	content: "How it works";
	position: absolute;
	top: -45px;
	left: 1px;
	font-size: 24px;
	font-weight: 600;
	color: var(--co-light-black);
}

.about__desc {
	max-width: 670px;
	font-size: 20px;
	font-weight: 500;
	color: var(--co-light-black);
	line-height: 150%;
}

.about__cards {
	margin: 80px 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 20px;
}

.about__cards .card:nth-child(2) {
	margin: 240px 0 0 0;
}




@media (max-width: 1250px) {
	.about {
		padding: 60px 0 60px 0;
	}
	.about__content {
		max-width: 390px;
		margin: 0 auto;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		gap: 20px;
	}

	.about__title {
		font-size: 48px;
		line-height: 100%;
	}

	.about__cards {
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}

	.about__cards .card:nth-child(2) {
		margin: 0;
	}
}

@media (max-width: 576px) {
	.about__title {
		font-size: 35px;
	}
	.about__desc {
		font-size: 16px;
	}
}