*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: var(--co-white);
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 1400px;
}

.logo {
	width: 81px;
	height: 24px;
	flex-shrink: 0;
}

.btn {
	border: none;
	outline: none;
	width: 185px;
	height: 50px;
	background-color: var(--co-green);
	border-radius: 3px;
	font-family: 'Lato', sans-serif;
	color: var(--co-white);
	font-size: 20px;
	font-weight: 400;
}

.btn:hover,
.btn:focus-visible {
	outline: 2px solid var(--co-dark-green);
	cursor: pointer;
}

.btn--signin {
	background-color: transparent;
	color: var(--co-black);
}





@media (max-width: 480px) {
	.container {
		padding: 0 20px;
	}
}