.hero {
	background: url('../assets/webp/hero-bg.webp') center/cover no-repeat;
	width: 100%;
	height: calc(100svh - 85px);
}

.hero__content {
	padding: 180px 0 0 0;
	max-width: 420px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}

.hero__title {
	font-size: 65px;
	font-weight: 700;
	color: var(--co-green);
}

.hero__description {
	margin: 25px 0 50px;
	line-height: 150%;
	font-size: 20px;
	font-weight: 400;
	color: var(--co-light-black);
}

.hero__content .btn {
	width: 230px;
	height: 65px;
}





@media (max-width: 768px) {
	.hero__content {
		padding: 80px 0 0 0;
	}
}





@media (max-width: 480px) {
	.hero {
		background: 
			linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 176, 139, 0)),
			url('../assets/webp/hero-bg.webp') center/cover no-repeat;
		/* background: 
			linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 176, 139, 0)),
			url('../assets/webp/hero-bg.webp') 60% 50%/cover no-repeat; */
	}
	.hero .container {
		padding: 0;
	}
	.hero__content {
		padding: 50px 20px 0;
		max-width: 100%;
		height: calc(100svh - 85px);
		backdrop-filter: blur(5px);
	}
	.hero__title {
		font-size: 50px;
	}
	.hero__description {
		color: var(--co-dark-green);
	}
}