.person-card {
	padding: 20px 0;
	position: absolute;
	top: 350px;
	left: 5px;
	width: 300px;
	height: 290px;
	background-color: var(--co-white);
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 20px;
	color: var(--co-black);
}

.person-card__title {
	position: relative;
	font-size: 15px;
	font-weight: 600;
}

.person-card__title::after {
	content: "";
	position: absolute;
	top: 25px;
	left: 0;
	right: 0;
	height: 1px;
	background-color: var(--co-black);
}

.person-card__preview {
	border-radius: 50%;
	width: 76px;
	height: 75px;
	overflow: hidden;
	flex-shrink: 0;
}

.person-card__img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	object-position: -30px -10px;
}

.person-card__name {
	font-size: 12px;
	font-weight: 400;
}

/* .person-card__desc {} */

.person-card__subtitle {
	font-size: 16px;
	font-weight: 700;
}

.person-card__list {
	list-style: disc;
	margin: 10px 0 0 15px;
}

.person-card__list-item {
	font-size: 10px;
	font-weight: 400;
	margin: 10px 0 0 0;
}

